.vs/
bin/
obj/
Bugs/
envois\ id\ list\ to\ delete.txt
GED_documents_id_list.txt
transport_id_list.txt
Web_API_Client/MAFlyDocApiClient.g.cs
**/*.7z
**/*.docx
**/*.pdf
**/*.png
**/*.jpg
**/*.xlsx
envoi_id_list.txt
envois-id-list-AR-INT.txt
envoi_id_list.txt
Référence sur la preuve de dépôt/Test réel d'envoi en recommandé.txt
TransportsIdList.txt
erreurs d'envoi de courrier en prod.json
envoi_id_list.txt
envoi_id_list.txt
TransportsIdList.txt
La synchro ne fonctionne plus en production/Tous+les+messages.csv
La synchro ne fonctionne plus en production/sauvegarde du dernier etat de tous les envois.txt
La synchro ne fonctionne plus en production/Tout+Depuis+07_04_2013.csv
téléchargement des PND/liste des envois recommandés non distribués avec le GED id des PND.xlsx
Empêcher le plantage des traitements de fond sur un envoi/envois id list.txt
Empêcher le plantage des traitements de fond sur un envoi/envois initialization data.txt
données supplémentaires pour les documents d'envoi reco PAPS/spécifications.txt
téléchargement des PND/Create envois in PND from transport id list.linq
test de téléchargement de documents d'envois en recommandé/Create envois reco from transport id list.linq
envois expirés et recréés.html
envois_refaits/